<%- include('../partials/header',{pageTitle:'login',stylesheet:'/css/main.css'}) %> 
<% if (errorMessages) { %>
    <p><%= errorMessages %> </p>
<% } %> 
<% if (successMessages) { %>
    <p><%= successMessages %> </p>
<% } %> 
<h1>login</h1>
<%- include('../partials/footer') %> 